.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #F4C2C2;
  padding: 10px;
  gap: 10px;
}
.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
