h1, h2 {
    text-align: center;
    font-family: Helvetica;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #F4C2C2;
  padding: 10px;
  gap: 10px;
}
.container div {
  background-color: #FFFAFA;
  color: #000;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 3;
}