* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.flex-item {
  background-color: #ffe9f0;
  padding: 10px;
  text-align: center;  
  font-size: 18px;
  flex: 1 1 30%;
  min-width: 250px;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-item {
    flex: 100%;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}