.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  background-color: #ffe9f0;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  flex: 33.3%;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-item {
    flex: 100%;
  }
}
