body {
  background-color: #F4C2C2;
  margin-left: 30px;
}

h1 {
  background-color: #CD5E77;
  color: aliceblue;
  text-align: center;
  font-family: Georgia, serif;
  border-radius: 25px;
  padding: 20px;
  width: 500px;
  height: 50px;
  align-items: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
}